<style>
html, body{
  width: 100vw;
  height:100vh;
}
input{
    height:50px;
    width:350px;
    font-size:14pt;
}
  </style>

<h3> Enter your mobile number to check your registration status for FSMK Hacktivist Camp 2018</h3>
<form action="." method="POST">
  <input type="number" placeholder="Enter your mobile number" name="mobile_number">
  {%csrf_token%}
  <button type="submit"> Am I registered </button>
</form>

{% if participant %}
<table>
  <tbody>
    <tr>
      <td>Participant Name</td> <td>{{participant.name}} </td>
    </tr>
    <tr>
      <td> GLUG </td> <td> {{participant.get_glug_display}}</td>
    </tr>
    <tr>
      <td> Payment Status </td>
      <td> {{participant.get_payment_status_display}} </td>
    </tr> 
    <tr>
      <td> Arriving When </td>
      <td> {{participant.get_arriving_status_display}}</td>
    </tr>
    </tbody>
    </table>
{% endif %}
{%if error %}
  <h3> You dont seem to have registered . Please contact your co-ordinator to get you registered </h3>
  {% endif %}
